asgiref==3.7.2
async-timeout==4.0.3
cffi==1.15.1
cryptography==41.0.3
Django==4.2.5
django-redis==5.4.0
django-redis-sessions==0.6.2
mysqlclient==2.2.0
Pillow==10.0.0
pycparser==2.21
PyMySQL==1.1.0
redis==5.0.1
sqlparse==0.4.4
typing_extensions==4.7.1

djangorestframework~=3.14.0